<%= form_for [@user, @workout] do |f| %>
  <%= f.label :minutes %>
  <%= f.number_field :minutes %>
  <%= f.select(:exercise_id, @exercises.map { |value| [ value.description, value.id ] })%>
  <%= f.submit %>
<% end %>

<hr>

<h3>Try searching for these exercises:</h3>
<% @exercises.each do |exercise| %>
  <p><%= exercise.description %>: <%= exercise.cal_min %> calories burned per minute</p>
<% end %>
