<h1>Home</h1>

<% if @user && !@user.calorie_allowance && !@user.weight %>
  <h3>Enter your user details </h3>
  <%= form_for @user do |f| %>
  <%= f.label :weight %>
  <%= f.number_field :weight, :step => 0.1 %>
  <%= f.label :calorie_allowance %>
  <%= f.number_field :calorie_allowance %>
  <%= f.submit %>
  <% end %>
<% elsif @user && @user.calorie_allowance && @user.weight %>
  <h3>Your Weight: <%= @user.weight %></h3>
  <h3>Your Calorie Allowance: <span id="cal-remaining"><%= @user.cal_rem %></span> / <%= @user.calorie_allowance %></h3>
  <h3>Total Calories Gained: <span id="cal-gained"><%= @total_cal_gained %></span></h3>
  <h3>Total Calories Burned: <span id="cal-burned"><%= @total_cal_burned %></span></h3>

  <%= link_to "Log your Meal", new_user_meal_path(@user) %>
  <br>
  <%= link_to "Log your Workout", new_user_workout_path(@user) %>



  <%= form_tag root_path, :method => 'get', remote: true, id: 'food_search_form', :enforce_utf8 => false do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    </p>
  <% end %>

  <div id="food_s_results">
    <%= render 'foods' %>
  </div>

  <hr>
  <br><br>
  <p>Log a Meal, son</p>
  <%= form_for [@user, @meal], remote: true do |f| %>
    <%= f.label :servings %>
    <%= f.number_field :servings %>
    <%= f.select(:food_id, @foods.map { |value| [ value.name, value.id ] })%>
    <%= f.submit %>
  <% end %>

  <p>Log a Workout, bro</p>
  <%= form_for [@user, @workout], remote:true do |f| %>
    <%= f.label :minutes %>
    <%= f.number_field :minutes %>
    <%= f.select(:exercise_id, @exercises.map { |value| [ value.description, value.id ] })%>
    <%= f.submit %>
  <% end %>

<div class="last_workout"></div>
<div class="last_meal"></div>

<% else %>
  <h3>Please Log In</h3>
<% end %>
